header{
  text-align: center;
  margin: 2%;
}
body{
  background-color: rgb(238, 243, 243);
}
h2{
  margin: 2% 2% 2% 0%;
}

h3{
  background-color: rgb(28, 22, 210);
  font-size: 20px;
}

a{ 
  background-color: rgb(233, 10, 10);
  font-size: 20px;
  color: white;
}

.container{
  display: flex;
}


#div1{

border: solid 1px;
padding-bottom: 40%;
padding-right: 21%;
background-image: url(/Images/balance-6157258_1920.jpg);
background-position: center;
}
#div2{
padding-bottom: 30%;
padding-right: 21%;
border: solid 1px;
background-image: url(/Images/college-student-3500990_1920.jpg);
background-position: center;
}
#div3{
padding-bottom: 30%;
padding-right: 21%;
border: solid 1px;
background-image: url(/Images/man-593333_1920.jpg);
background-position: center;
}
#div4{
padding-bottom: 30%;
padding-right: 20%;
border: solid 1px;
background-image: url(/Images/phone-292994_1920.jpg);
background-position: center;

}

/* Esconde o formulário */
#escondido{
  display: none;
  background-color: white;
  padding: 10px;
  border-top: 1px solid #ccc;
  color: black;
  
}

/* Ajusta a responsividade do site */
@media  screen and (max-width:768px){
  .container{
    flex-direction: column; 
  }
}
  


